<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Moonlight Melodies</title>
</head>
    <h1>Moonlight Melodies!</h1>
    <nav>
        <a href="/">Home Page</a> | 
        <a href="instruments">Instruments</a> | 
        <a href="songs">Songs</a> | 
        <a href="shopping_cart">Shopping Cart</a> | 
        <a href="sales">Sales</a> | 
        <a href="customers">Customers</a> | 
        <a href="employees">Employees</a>
    </nav>
<body>

    {{{body}}}

</body>
</html>