<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "styles.css">
    <title>Moonlight Melodies - Employees</title>
  </head>
  <body>
    <header>
    </header>
      <h2>Employees Table</h2>
      <table id="employees-table">
        <thead>
            <tr>
                <th>employeeID</th>
                <th>employeeFname</th>
                <th>employeeLname</th>
                <th>employeePhone</th>
                <th>employeeEmail</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr data-value>
                <td>1</td>
                <td>Emily</td>
                <td>Smith</td>
                <td>971-456-2567</td>
                <td>smithEm@gmail.com</td>
                <td><button onclick="deleteEmployee(1)">Delete</button></td>
            </tr>
            <tr data-value>
                <td>2</td>
                <td>Preet</td>
                <td>Patel</td>
                <td>546-527-5782</td>
                <td>patel256@gmail.com</td>
                <td><button onclick="deleteEmployee(2)">Delete</button></td>
            </tr>
            <tr data-value>
                <td>3</td>
                <td>Ankith</td>
                <td>Sridhar</td>
                <td>832-536-1467</td>
                <td>ankithS@gmail.com</td>
                <td><button onclick="deleteEmployee(3)">Delete</button></td>
            </tr>
            <tr data-value>
                <td>4</td>
                <td>Kaveenaya</td>
                <td>Omkumar</td>
                <td>832-567-4674</td>
                <td>kavi62@gmail.com</td>
                <td><button onclick="deleteEmployee(4)">Delete</button></td>
            </tr>
        </tbody>
      </table>

    <form id="add-employee">
        <h2>Add an Employee</h2>
        <div>
            <label for="employeeFname">First Name:</label>
            <input type="text" id="employeeFname" name="employeeFname" required>
        </div>
        <div>
            <label for="employeeLname">Last Name:</label>
            <input type="text" id="employeeLname" name="employeeLname" required>
        </div>
        <div>
            <label for="employeePhone">Phone Number:</label>
            <input type="text" id="employeePhone" name="employeePhone" required>
        </div>
        <div>
            <label for="employeeEmail">Email:</label>
            <input type="text" id="employeeEmail" name="employeeEmail" required>
        </div>
        <button onclick="addEmployee()">Add Employee</button>
    </form>

    <form id="update-employee">
        <h2>Update Employee</h2>
        <div>
            <label for="employeeSelect">Select the Employee:</label>
            <select id="employeeSelect" name="employeeSelect">
                <option value="" disabled selected>Select the Employee</option>
                <option value="Emily Smith">Emily Smith</option>
                <option value="Preet Patel">Preet Patel</option>
                <option value="Ankith Sridhar">Ankith Sridhar</option>
                <option value="Kaveenaya Omkumar">Kaveenaya Omkumar</option>
            </select>
        </div>
        <div>
            <label for="employeeFname">First Name:</label>
            <input type="text" id="employeeFname" name="employeeFname" required>
        </div>
        <div>
            <label for="employeeLname">Last Name:</label>
            <input type="text" id="employeeLname" name="employeeLname" required>
        </div>
        <div>
            <label for="employeePhone">Phone:</label>
            <input type="text" id="employeePhone" name="employeePhone" required>
        </div>
        <div>
            <label for="employeeEmail">Email:</label>
            <input type="text" id="employeeEmail" name="employeeEmail" required>
        </div>
        <button onclick="updateEmployee()">Update Employee</button>
    </form>
  </body>
</html>
