{{!-- home.hbs --}}
<link rel="stylesheet" href="/css/styles.css">
<title>Moonlight Melodies - Home Page</title>
<h2>Home Page</h2>
<p>Moonlight Melodies is your one-stop destination for all music lovers. Our expansive digital catalog is a harmonious 
    blend of melodious songs and finely-crafted instruments. With our user-friendly database-driven website, you can 
    effortlessly browse, purchase, and learn about our diverse collection of songs and instruments.</p>
<p>Whether you're looking to strum the guitar, beat the drums, or find the perfect tune, our platform caters to all 
    your musical needs. Our commitment to music extends beyond sales, as we cherish the bonds formed through melodies
    and rhythms. Explore our offerings and immerse yourself in the world of music with Moonlight Melodies.</p>

<table>
    <tr>
        <th>Entity Name</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>Songs</td>
        <td>An entity that contains data about our songs. Able to add new songs, update songs, and delete songs.</td>
    </tr>
    <tr>
        <td>Instruments</td>
        <td>An entity that contains data about our instruments. Able to add new instruments, update instruments, and delete instruments.</td>
    </tr>
    <tr>
        <td>Shopping Cart</td>
        <td>An intersection table that supports the M:N relationship between Sales and Songs, and Sales and Instruments.</td>
    </tr>
    <tr>
        <td>Sales</td>
        <td>An entity that contains data about our sales. Able to add new sales, update sales, and delete sales.</td>    
    </tr>
    <tr>
        <td>Customers</td>
        <td>An entity that contains data about our customers. Able to add new customers, update customers, and delete customers.</td>
    </tr>
    <tr>
        <td>Employees</td>
        <td>An entity that contains data about our employees. Able to add new employees, update employees, and delete employees.</td>
    </tr>
</table>
