<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Moonlight Melodies - Shopping Cart</title>
  </head>
  <body>
    <header>
  </header>
     <h2>Shopping Cart Table </h2>
    <table id="shoppingcart-table">
      <thead>
        <tr>
          <th>shoppingCartId</th>
          <th>salesID</th>
          <th>songID</th>
          <th>instrumentID</th>
          <th>itemQuantity</th>
          <th>itemTotalPrice</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr data-value>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>NULL</td>
          <td>1</td>
          <td>30.00</td>
          <td>
            <button onclick="deleteShoppingCart(1)">Delete</button>
          </td>
        </tr>
        <tr data-value>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>3</td>
          <td>2</td>
          <td>310.00</td>
          <td>
            <button onclick="deleteShoppingCart(2)">Delete</button>
          </td>
        </tr>
        <tr data-value>
          <td>3</td>
          <td>4</td>
          <td>NULL</td>
          <td>2</td>
          <td>1</td>
          <td>200.00</td>
          <td>
            <button onclick="deleteShoppingCart(3)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
<h2>Add To Cart</h2>
    <form id="add-to-cart-form">
      <label for="salesID">Sales ID:</label>
      <select id="salesID" name="salesID">
        <option value="1233">1</option>
        <option value="1233">2</option>
        <option value="1244">3</option>
        <option value="1255">4</option>
      </select><br>

      <label for="songID">Song ID:</label>
      <select id="songID" name="songID">
        <option value="">None</option>
        <option value="201">1</option>
        <option value="201">2</option>
        <option value="201">3</option>
        <option value="202">4</option>
      </select><br>

      <label for="instrumentID">Instrument ID:</label>
      <select id="instrumentID" name="instrumentID">
        <option value=""disabled selected>None</option>
        <option value="2">1</option>
        <option value="2">2</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select><br>

      <label for="itemQuantity">Item Quantity:</label>
      <input type="number" id="itemQuantity" name="itemQuantity" min="1" required><br>

      <button onclick="updateCart()">Add to Cart</button>
    </form>
  </body>
  </html>